.body{
    margin: 0;
    border: 0;
    width: 100vw;
    height: 100vh;
}

.grid-container{
    border: 2px solid black;
    width: 800px;
    aspect-ratio: 1;
    display: flex;
    flex-wrap: wrap;
}

.tile{
    --tilesNum: 16;
    border: 1px solid red;
    box-sizing: border-box;
    flex: 0 1 calc(100%/var(--tilesNum));
}

.filled{
    --bgCol: red;
    background-color: var(--bgCol);
}